/*
    Name: login.css
    Author: Zach Boone
    Date: 2/23/2020

    Stylesheet for login.php (login page)
*/

html, body, h1, div, span{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: calibri, sans-serif;
    color: #FFFFFF;
}
p{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: calibri, sans-serif;
    color: #FFFFFF;
}
body{
    background-color: #333333;
    background-image: url('../pictures/Drums_Cropped_2.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
header{
    display: block;
    background-color: #000000;
}
img{
    background-color: #111111;
}
.btn {
    border: none;
    background-color: #FFFFFF;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
}
.login {
    font-size: 16px;
    background-color: #FFF;
    color: black;
}
.login:hover {
    font-size: 16px;
    background-color: #000;
    color: white;
}
.accept{
    border: none;
}
.textbox {
    display: flex;
}
.textbox h1 {
    margin: auto;
    vertical-align: top;
}
.box {
    background-color: #2d9ac4;
    width: 500px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
}
.align_left {
    float: left;
}
.align_right {
    float: right;
}
.larger_text {
    font-size: 190%;
}
.fancy_text {
    font-size: 400%;
    font-family: "Brush Script MT", cursive;
}
.border {
    border-width: 17px;
    border-color: #000000;
    border-style: solid;
}
.error {
    color: #000000;
}
form {
    width: 87%;
    margin: 0 auto;
}

label, input {
    display: inline-block;
}

label {
    width: 21%;
    text-align: right;
}

label + input {
    width: 40%;
    margin: 0 3% 0 2%;
}

input + input {
    float: right;
}
